section {
  @apply flex flex-col gap-y-8 h-screen items-center justify-center;
  background-color: #fffdfd;
  .error-logo {
    @apply max-w-xs;
    width: 60%;
  }
  .error-img {
    @apply max-w-sm;
    width: 80%;
  }
  button {
    @apply bg-purple-700 dark:bg-fuchsia-600 dark:focus:ring-purple-900 dark:hover:bg-fuchsia-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium hover:bg-purple-800 mb-2 px-5 py-2.5 rounded-lg text-sm text-white
  }
}
