<section>
  <img [src]="logoImg" alt="American Gifts & Apparel">
  <form action="">
    <img [src]="introImg" alt="intro">

    <div>
      <h3>LOGIN</h3>
      <p>Enter your credentials</p>
      <label for="email">
        Your email
        <input type="email" name="email" id="email" placeholder="your-email@agaa.com">
      </label>

      <label for="password">
        Your password
        <input type="password" name="password" id="password" placeholder="between 5 and 10 chars">
      </label>

      <button type="submit">SUBMIT</button>
    </div>
  </form>
</section>
